

.nav-item{
    font-size: 20px;
    }
    .nav-link{
    font-size: 20px;
    }
    .footer{
        height: 50px;
        --bs-body-font-size: 20px;
        margin-top: 20px;
        padding-top: 15px;
    }
    .m-5 {
        margin: 4rem !important;}
        .pb-5 {
            padding-bottom: 0rem !important;
        }